.visually-hidden:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.back-to-top,
.skip-to-main {
  z-index: 100;
}

.back-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.skip-to-main {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}