/* 
 * ===================================================
 * header
 * ===================================================
 */
.section.header { 
  padding: 3rem 1.5rem;
}

.header .logo-vivara { 
  max-width: 12.2556rem;
  display: block;
  position: relative;
}

.header .logo-life { 
  max-width: 7.5462rem;
  display: block;
}

@media (--desktop), (--tablet) { 
  .header .logo-vivara::before { 
    content: '';
    position: absolute;
    background: #010101;
    width: 2px;
    height: 69px;
    right: -20px;
    top: -15px;
  }
}

/* 
 * ===================================================
 * Hero - Banner
 * ===================================================
 */
.banner { 
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video { 
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.banner svg { 
  position: relative;
  z-index: 1;
  width: 550px;
  margin: auto;
}

@media (--small-phone) { 
  .banner svg { 
    position: relative;
    z-index: 1;
    width: 350px;
    margin: auto;
  } 
}

/* .hero { 
  background: url(../assets/mulher-oriental-com-olhar-fixo.jpg)no-repeat center/ cover;
} */


/* @media (--desktop) { 
  .section.hero { 
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    padding-top: 22rem;
  }
}

@media (--tablet), (--phone) { 
  .section.hero { 
    padding-top: 12rem;
  }
} */

/* @media (--desktop) and (max-height: 718px) { 
  .section.hero { 
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    padding-top: 17rem;
  }
  
  .hero svg { 
    max-width: 500px;
    margin: auto;
    display: block;
  }
} */

/* 
 * ===================================================
 * Tornamos cada história única e especial
 * ===================================================
 */
 .program picture::after { 
  content: '';
  background: url(../assets/program-especial-graphic.svg)no-repeat center/ contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(-2rem, 7rem) scale(0.85);
}

 .program picture { 
  position: relative;
}

@media (--desktop) { 
  .program picture::after { 
    transform: translate(-2rem, 7rem) scale(0.85);
  }
}

@media (--tablet), (--phone) { 
  .program picture::after { 
    transform: translate(-2rem, 7rem) scale(0.55);
  }
}

@media (--small-phone) { 
  .program picture::after { 
    transform: translate(-2rem, 5rem) scale(0.55);
  }
}

/* 
 * ===================================================
 * Como vai ser
 * ===================================================
 */
.section.process { 
  background: #F8F8F8;
  text-align: center;
}

.process span { 
  font-size: 3rem;
  position: relative;
}

.process::after { 
  content: '';
  background: url(../assets/processo-seletivo.svg)no-repeat center/ contain;
  position: absolute;
  left: 0;
  right: 0;
  top: -20rem;
  width: 100%;
  height: 100%;
  transform: scale(0.80);
}


@media (--desktop), (--tablet){
  .section.process { 
    padding-top: 20rem;
  }
}

@media (min-width: 1107px) { 
  .process span::before {
    content: '';
    position: absolute;
    background: #010101;
    width: 979px;
    height: 3px;
    left: -30rem;
    top: 4rem;
  }

  .process span::after { 
    content: '';
    position: absolute;
    background: #010101;
    width: 81px;
    height: 4px;
    top: 60px;
    left: -25px;
  }
}

@media (--phone) { 
  .process h2 { 
    margin-top: 5rem;
  }

  .process::after { 
    top: -23rem;
    transform: scale(0.90);
  }
}

/* 
 * ===================================================
 * Qual a história que você conta?
 * ===================================================
 */
.section.history { 
  background: #DFD5CC;
}

.history img { 
  position: relative;
}

.history picture::after { 
  content: '';
  background: url(../assets/historia-graphic.svg)no-repeat center/ contain;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

@media (--desktop) { 
  .section.history { 
    padding:  20rem 1.5rem;
  }
  
  .history picture { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    left: 35rem;
  }

  .history h2 { 
    max-width: 20ch;
  }
  
  .history p { 
    max-width: 48ch;
  }

  .history picture::after { 
    transform: translate(0rem, 15rem) scale(0.70);
  }
}

@media (--tablet), (--phone) { 
  .history p { 
    max-width: 80ch;
  }
}

@media (--tablet) { 
  .history picture::after { 
    transform: translate(0rem, 25rem) scale(0.90);
  }
}

@media (--phone) { 
  .history picture::after { 
    transform: translate(0rem, 28rem) scale(0.90);
  }
}

@media (--small-phone) { 
  .history picture::after { 
    transform: translate(0rem, 25rem) scale(0.90);
  }
}

@media screen and (min-width: 1048px) and (max-width: 1850px) { 
  .history picture::after { 
    transform: translate(0rem, 15rem) scale(0.90);
  }
}

/* 
 * ===================================================
 * Cursos elegíveis:
 * ===================================================
 */
.colunm-list { 
  position: relative;
}

.colunm-list::after { 
  content: '';
  background: url(../assets/diamante.svg)no-repeat center/ contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

@media (--desktop) { 
  .colunm-list::after { 
    transform: translateY(-9rem) scale(0.70);
  }
}

@media (--desktop), (--tablet) { 
  .course .colunm-list { 
    column-count: 2;
  }
}

@media (--tablet) { 
  .colunm-list::after { 
    transform: translate(-12rem, -9rem) scale(0.70);
  }
}

 @media (--phone) { 
  .course .colunm-list { 
    column-count: 1;
  }

  .colunm-list::after { 
    transform: translate(10rem, -20rem) scale(0.20);
  }
}

/* 
 * ===================================================
 * Riqueza em cada detalhe
 * ===================================================
 */
 .section.benefits { 
  padding-top: 0;
  text-align: center;
}

.icons-benefits { 
  max-width: 6.4375rem;
  display: block;
  margin: auto;
}

.benefits-separador { 
  position: relative;
}

.benefits-separador::after { 
  content: '';
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  width: 980.01px;
  height: 2px;
  z-index: -1;
}

@media (--desktop), (--tablet) { 
  .title-benefits { 
    max-width: 48.25rem;
    display: block;
    margin: auto;
  }
}

/* 
 * ===================================================
 * Somos Vivara
 * ===================================================
 */

@media (--desktop) { 
  .section.about { 
    background: url(../assets/about-bg.jpg)no-repeat center/ cover;
    height: 100vh;
  }

  .about-box { 
    background: white;
    padding: 6.25rem 4rem;
    position: relative;
  }
  
  .about-box::after { 
    content: '';
    background: url(../assets/about-momentos.svg)no-repeat center/ contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(35rem) scale(1.4);
  }
}

/* 
 * ===================================================
 * Seja um de nossos talentos 
 * ===================================================
 */
.cta { 
  background: #FFA67D;
  text-align: center;
}

.cta-title { 
  max-width: 37.125rem;
  margin: auto;
  display: block;
}

.logo-cia { 
  max-width: 21.1875rem;
  margin: auto;
  display: block;
  color: var(--color-black);
}
 
/* 
 * ===================================================
 * Footer
 * ===================================================
 */

.footer {
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer svg {
  max-width: 12.5rem;
  color: var(--color-black);
}