.flex-columns {
  --basis: 20ch;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.flex-columns > * {
  flex: 1 1 var(--basis);
  max-width: var(--basis);
}