/* Web Font Generator: https://www.fontsquirrel.com/tools/webfont-generator */

/* @font-face {
  font-family: "Open Sans";
  src: url('/fonts/opensans-semibold.woff2') format('woff2'),
       url('/fonts/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */