.grid {
  --gap: 4rem;
  --align: center;

  display: grid;
  align-items: var(--align);
  gap: var(--gap);
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
}

@media (--desktop) {
  .grid {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: inherit;
  }
  
  .grid--reverse {
    direction: rtl;
  }

  .grid--reverse > * {
    direction: ltr;
  } 
  
  .grid > * {
    grid-column: var(--column);
  }
}