.list > * {
  position: relative;
}

.list > * + * {
  margin-top: .5em;
}

.list--expansive > * + * {
  margin-top: 1em;
}


/*
 * Bullet style.
 */

.list--bullet > * {
  padding-left: 1em;
}

.list--bullet > *::before {
  content: "";
  display: inline-block;
  background: currentColor;
  border-radius: 1em;
  position: absolute;
  width: .4em;
  height: .4em;
  left: 0;
  top: .6em;
}


/*
 * Checkmark style.
 */

.list--checkmark > * {
  padding-left: 2em;
}

.list--checkmark > * + * {
  margin-top: 1rem;
}

.list--checkmark > *::before {
  content: "";
  background: url(../assets/checkmark.svg) no-repeat center / contain;
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: .1em;
  left: 0;
}


/*
 * Ordered style.
 */

.list--ordered {
  counter-reset: counter;
}

.list--ordered > * {
  counter-increment: counter;
  padding-left: 1.25em;
}

.list--ordered > *::before {
  content: counter(counter) ". ";
  font-weight: bold;
  position: absolute;
  left: 0;
}