.section {
  padding: 6rem 1.5rem;
  position: relative;
}

.section--compact {
  padding: 6rem 1.5rem;
}

@media (--desktop) {
  .section {
    padding: 8rem 1.5rem;
  }
}

@media (--phone), (--tablet) {
  .section--paddding-bottom-0-mobile {
    padding-bottom: 0;
  }
}