/* 
 * Headline
 */

.headline {
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
}

.headline--size-1 { font-size: 2.75rem }
.headline--size-2 { font-size: 2.25rem }
.headline--size-3 { font-size: 2rem }
.headline--size-4 { font-size: 1.5rem }
.headline--size-5 { font-size: 1.25rem }
.headline--size-6 { font-size: 1rem }

@media (--desktop) {
  .headline--size-1 { font-size: 4rem }
  .headline--size-2 { font-size: 3rem }
  .headline--size-3 { font-size: 2.25rem }
  .headline--size-4 { font-size: 1.75rem }
  .headline--size-5 { font-size: 1.5rem }
  .headline--size-6 { font-size: 1.25rem }
}


/* 
 * Subtitle
 */

.subtitle {
  font-family: inherit;
  font-size: 1.125rem;
}

.subtitle--size-1 {
  font-weight: bold;
}

.subtitle--size-2 {
  font-weight: normal;
}


/* 
 * Texts
 */

.text-small {
  font-size: 0.875rem;
}

.text-caption {
  font-size: 0.75rem;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}


/*
 * Overline. 
 */

.overline {
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
}