.video {
  overflow: hidden;
  padding-bottom: calc(56.25% - 2px);
  position: relative;
  height: 0;
  border: 2px solid white;
  border-radius: .25em;
}

.video > * {
  border-radius: .25em;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (--desktop) {
  .video {
    position: relative;
    z-index: 1;
  }
}